.headerh1 {
  display: flex;
  align-items: center;
}
h1 {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  padding: 20px;
  padding-left: 20px;
}

.headerimage {
  display: flex;
  color: MediumAquamarine;
}

.header_nav{
  display: flex;
}

.headercontainer {
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: flex-start;
  height: 100px;
  flex-direction: row;
  align-items: center;
}
 .header_nav{
   display: flex;
   width: 200px;
   height: 100px;
   align-items: flex-end;
   justify-content: space-around;
   padding-left: 900px;


}

.header_nav p {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
  width: 20px;
  height: 20px;
  padding: 20px;
}

body {
  margin: 0;
}
