.headerh1 {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
}

.headerimage {
  display: flex;
  color: MediumAquamarine;
}

.header_nav{
  display: flex;
}

.headercontainer {
  border-width: 500px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-around;
  justify-content: flex-start;
}
 .header_nav{
   display: flex;
   width: 200px;
   height: 40px;
   align-items: stretch;

}

.header_nav p {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: black;
}
